<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Etsylist</title>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

        <img src="/images/etsy_logo.png" alt="Etsylist" width="200">
        <h1>list</h1>


        <div class="middlewrapper">
          <h2>Shop Handmade...</h2><br/>
          <h3>And get the things you want.</h3><br/>
          <div id="signup"><a href="/signup">Sign Up</a></div></div>
          <div id="login"><a href="/login">Log In</a></div><br/>
          <div id="guest"><a href="/guest">Continue as Guest</a></div>
        </div>





<script src="/js/script.js"></script>
</body>
</html>
