<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Etsy.list</title>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Heebo:500" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2 text-center">
      <img id="logo" src="/images/etsy-list-logo_ow.png" alt="Etsylist" width="300px">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8-offset-2 col-sm-10-offset-1 col-lg-10-offset-1 middlewrapper">
      <h1>Shop Handmade...</h1>
      <h2>And get the things you want.</h2><br/><br/>
      <button type="button" class="btn btn-default btn-lg">
      <a href="/signup">Sign Up</a>
      </button>
      <button type="button" class="btn btn-default btn-lg">
      <a href="/login">Log In</a>
      </button>
      <button type="button" class="btn btn-default btn-lg">
      <a href="/guest">Continue as Guest</a>
      </button>
    </div>
  </div>









<script src="/js/script.js"></script>
</body>
</html>
