<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Etsylist</title>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

        <img src="/images/etsy_logo.png" alt="Etsylist" width="200">
        <h1>list</h1>
        <h2>saved lists</h2>
        <h2>Welcome {{data.name}}</h2>
        {{#lists}}
          <h3 class="wishlist">{{name}}</h3>
        {{/lists}}


      <h2>Create a new Wishlist</h2>
        <form action="/createlist" method="post">
        Wishlist Name: <input name="name" type="text" id="inputName" placeholder="Wishlist Name">
        <input type="submit" value="submit" />
        </form>


<script src="/js/script.js"></script>
</body>
</html>
