<!DOCTYPE html>
<html>
<head>
     <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>Etsy.list</title>

    <!-- scripts Jquery and Materialize -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Heebo:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- stylesheets -->
<!--     <link rel="stylesheet" type="text/css" href="/css/normalize.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

  <div class="navbar-fixed">
      <nav class="transparent">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo left"><img id="logoindex" class="responsive-img" src="/images/etsy-list-logo_ow.png" alt="Etsylist"></a>
        </div>
      </nav>
  </div>


  <div class="container orange darken-3" id="index-container">
  <h2>Login</h2>

  <form action="/login" method="post">
      <input name="email" type="text" id="inputEmail" placeholder="Email">
      <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
      <input type="submit" value="submit" class="btn btn-default btn-lg white grey-text text-darken-3">
  </form>
  </div>



<script src="/js/script.js"></script>
</body>
</html>
