<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Etsylist</title>
  <script type="text/javascript" src="public/js/jquery.js"></script>
  <script type="text/javascript" src="config.js"></script>
  <link rel="stylesheet" type="text/css" href="public/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>

  <img src="../public/images/etsy_logo.png" alt="Etsylist" width="200">
  <h1>list</h1>
  <h2>Login</h2>

  <form action="/login" method="post">
      Email: <input name="email" type="text" id="inputEmail" placeholder="Email">
      Password: <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
      <input type="submit" value="submit" />
    </form>


<script src="public/js/script.js"></script>
</body>
</html>
