<!DOCTYPE html>
<html>
<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>Etsy.list</title>

    <!-- scripts Jquery and Materialize -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Heebo:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- stylesheets -->
<!--     <link rel="stylesheet" type="text/css" href="/css/normalize.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <div class="navbar-fixed">
    <nav class="grey darken-1">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo left"><img id="logo" class="responsive-img valign-wrapper" src="/images/etsy-list-logo_ow.png" alt="Etsylist"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/dashboard">Dasboard</a></li>
          <li class="active"><a href="/search">Search</a></li>
          <li><a href="/lists">Wishlist</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
        <ul class="side-nav right" id="mobile-demo">
          <li><a href="/dashboard">Dasboard</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/lists">Wishlist</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/logout">Log Out</a></li>
      </ul>
      </div>
    </nav>
  </div>

  <div class="container orange darken-3" id="index-container">
    <h1>Search Etsy. Save Wants. Get Gifts.</h1>

    <form id="search-bar">
        <input id="search-terms" size="55" placeholder="What are you looking for?">
        <button id="search-button" type="button" class="btn btn-default btn-lg white grey-text text-darken-3">Search!</button>
    </form>

    <div id="etsy-images">
    <!-- etsy items from search entered here -->
    </div><br/>
  </div>

<script src="/js/script.js"></script>
</body>
</html>
