<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Etsy.list</title>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Heebo:500" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<img id="logo" src="/images/etsy-list-logo_ow.png" alt="Etsylist" width="300px">
<h1>Search Etsy. Save Wants. Get Gifts.</h1>
<nav>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/lists">Your Wishlist</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/logout">Log Out</a></li>
  </ul>
</nav>

    <form id="search-bar">
        <input id="search-terms" size="55" placeholder="What are you looking for?">
        <button id="search-button" type="button">Search!</button>
    </form>

    <div id="etsy-images">
    <!-- etsy items from search entered here -->
    </div><br/>

<script src="/js/script.js"></script>
</body>
</html>
