<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Etsy.list</title>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<img src="/images/etsy_logo.png" alt="Etsylist" width="200">
<h1>User Settings</h1>
<nav>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/lists">Your Wishlist</a></li>
    <li><a href="/logout">Log Out</a></li>
  </ul>
</nav>

<h1>Hey {{name}}!</h1>

<h2>Your name is set to: {{name}}</h2><br/>
<h2>Your email is set to: {{email}}</h2></body><br/>

<h1>Edit</h1>
<form method="POST" action="/updateusers/{{id}}?_method=PUT">
<input name="name" id="name" value="{{name}}"><br>
<input name="email" id="email" value="{{email}}"><br>
<button type="submit">Update!</button>
</form>


<script src="/js/script.js"></script>
</body>
</html>
