html {
  height: 100vh;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url("../images/thread_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: orange;
}

h1, h2, h3 {
  font-family: 'Droid Serif', serif;
  color: white;
}
/* nav bar styling start */

.nav-wrapper {
  width: 90%;
  margin: 0 auto;
}

nav {
    height: 100px;
    line-height: 100px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 100px;
    line-height: 100px;
}

nav .button-collapse i {
    height: 100px;
    line-height: 100px;
}

.navbar-material .nav-wrapper .brand-logo img {
    height: 64px;
}

#logo {
  height: 64px;
  margin-top: 20px;
}

#logoindex {
  height: 100px;
  margin-top: 20px;
}


nav .brand-logo {
    font-size: 1.6rem;
}

.navbar-fixed {
  height: 100px;
  line-height: 100px;
}

#index-container {
  margin-top: 150px;
  text-align: center;
  padding: 50px;
}

#dashboard-container {
  padding: 30px;
  margin-top: 150px;
}




/* @media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 100px;
        width: 100%;
        line-height: 100px;
    }

} */

@media only screen and (max-width: 601px){
/* navbar mobile styling start */
    body {
      width: 100%;
    }
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
    }

    #logo {
      height: 32px;
      margin-top: 25px;
    }

    .nav-wrapper {
      width: 90%;
      margin: 0 auto;
    }
/* navbar mobile styling end */

/* index page mobile styling start */

    #logoindex {
      width: 87vw;
      height: 100%;
    }

    #index-container {
    max-width: 90%;
    margin-top: 70px;
    text-align: center;
    padding: 15px;
    }

    #index-container h1 {
      font-size: 35px;
      margin: 0;
      display: inline-block;
    }

    #index-container h2 {
      font-size: large;
      display: inline-block;
    }

    #index-container h3 {
      font-size: 25px;
      display: inline-block;
    }

    button {
      width: 100%;
      margin: 10px auto;
      padding: 0;
    }
/* index mobile page styling end */
  #dashboard-container {
    font-size: 3vw;
    text-overflow: visible;
  }

}

#wishlistheader {
  margin: 50px 0;
  font-size: 3em;
}

#wishlist-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.listwrapper {
  border-radius: 30px 30px 30px 30px;
  text-align: center;
  width: 400px;
  display: inline-block;
  color: black;
  margin-bottom: 5%;
  margin-left: 5%;

}


.listwrapper h1,h2,h3 {
  color: black;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  margin: 5%;
  text-overflow: ellipsis;
}

#img-container {
  width: 45%;
  display: inline-block;
}

#item-img {
  height: 200px;
}

#item-details {
  width: 45%;
  display: inline-block;
}

.listwrapper .btn {
  margin-bottom: 10px;
}

button p {
  margin: 0;
}

#mobile-demo {
  z-index: 1;
}

#sidenav-overlay {
  z-index: 2;
}

#etsy-images {
  margin-top: 15px;
}

.item {
  margin-top: 20px;
}

.item img {
  width: 50%;
}

.item h3 {
  margin: 10px;
}

.item p {
  width: 70%;
  margin: 0 auto;
}

.item button {
  display: inline-block;
  width: 50px;
}

.item a {
  display: inline-block;
  color: white;
  font-size: 1em;
  padding: 10px;
}

.item form {
  display: inline-block;
}


