body {
  height: 100%;
  width: 100%;
  background: url("../images/thread_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: orange;

}

#logo {
  margin: 20px;
}

h1, h2, h3 {
  color: white;
}

.middlewrapper {
  text-align: center;
  margin: 0 auto;
}
