body {
  width: 100%;
  background: url("../images/thread_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: orange;
  margin-top: 50px;
}

.site-container {
  width: 90%;
  text-align: center;
}

/* make navbar links sit verticall aligned with logo */
.navbar-nav > li > a {
   line-height: 62px;
}

/* override bootstrap navbar styleing for the headers */
#header-default {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
}

/* change link color to white and font same as headers */
#header-default a {
  color: white;
  font-family: 'Heebo', sans-serif;
}

.navbar-toggle.collapsed {
  background: white;
  margin: 25px 10px 20px 0px;

}



h1, h2, h3 {
  color: white;
  font-family: 'Heebo', sans-serif;
}

.middlewrapper {
  text-align: center;
}






.nav a {
  color: white;
  font-family: 'Heebo', sans-serif;

}

.listwrapper {
  background-color: beige;
  text-align: center;
}

/* stack overflow answer on how to change breakpoints for collapsed button toggle. I'm not sure if I need all of this actually. */
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}


